//* Colores globales
//! ----------------
$primary-color: #FFFFFF;
$secondary-color: #DD1D1D;
$background-color: #f8f9fa;
$weather-color: #4aabe7;
$text-color: #000;
$hover-color: #0056b3;
$dark-background-color: #333;
$dark-text-color: #f8f9fa;

//* Fuente global
//! -------------
$sc-font-family: 'Assistant-Regular', sans-serif;
